@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.navbar{
  display: flex;
  flex-direction: row;
  background-color: #E8E8E8;
}
.navbar h1{
  padding: 1.2rem;
  color: #C11C2B;
}
.page__content{
  display: flex;
  flex-direction: row;
  height: 93vh;
  justify-content: center;
  align-items: center;
}
.inputs{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  background-color: #3A606E;
  height: 93vh;
}
.selection__background{
  position: relative;
  height: 80vh;
  background-color:#E8E8E8 ;
}
.career__selection{
  color: #C11C2B;
  font-weight: 300;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.courses__selection{
  color: #C11C2B;
  font-weight: 300;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.courses{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.scheduler{
  padding: 3rem;
  width: 60vw;
}
.Cell-highlightedText-24{
  color: #C11C2B !important;
}

.css-ghsjzk-MuiInputBase-root-MuiInput-root:after{
  border-bottom: 2px solid #C11C2B !important;

}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color: #C11C2B !important;
}