@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.navbar{
  
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 1rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #E8E8E8; */
}
.title{
  
  font-size: 1.6rem;
  color: #C11C2B;
}
.title h1{
  padding-top: 0.6rem;
}
.links{
  display: flex;
  flex-direction: row;
  align-items: flex-end;

}
.first_link{
  font-size: large;
  font-weight: lighter ;
  margin-right: 1rem;
}
.first_link:hover{
  font-weight: 500;
}
.second_link{
  font-size: large;
  font-weight: lighter ;
}
.second_link:hover{
  font-weight: 500 ;
}
.page__content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
  /* align-items: center; */
}
.inputs{
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  width: 40vw;
  /* background-color: #3A606E; */
  align-items: flex-start;
  /* height: 93vh; */
}
.selection__background{
  /* position: relative; */
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  
  background-color:#E8E8E8 ;
  border-radius: 15px;
}
.career__selection{
  color: #C11C2B;
  font-weight: 300;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.courses__selection{
  color: #C11C2B;
  font-weight: 300;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
.courses{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.scheduler__container{
  display: flex;
  flex-direction: column;
}
.scheduler{
  padding: 0rem 3rem;
  width: 55vw;
}
.Root-container-1{
  width: 50vw !important;
}
.Cell-highlightedText-24{
  color: #C11C2B !important;
}

.css-ghsjzk-MuiInputBase-root-MuiInput-root:after{
  border-bottom: 2px solid #C11C2B !important;

}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color: #C11C2B !important;
}
.description{
  
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 4.3rem;
  padding-right: 4.3rem;
  
}
